@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: ultra-condensed;
  font-display: swap;
  src: url(./font-01.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: ultra-condensed;
  font-display: swap;
  src: url(./font-02.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: extra-condensed;
  font-display: swap;
  src: url(./font-03.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: condensed;
  font-display: swap;
  src: url(./font-04.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: semi-condensed;
  font-display: swap;
  src: url(./font-05.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(./font-06.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(./font-07.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  font-display: swap;
  src: url(./font-08.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: extra-expanded;
  font-display: swap;
  src: url(./font-09.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: ultra-condensed;
  font-display: swap;
  src: url(./font-10.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: ultra-condensed;
  font-display: swap;
  src: url(./font-11.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: extra-condensed;
  font-display: swap;
  src: url(./font-12.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: condensed;
  font-display: swap;
  src: url(./font-13.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: semi-condensed;
  font-display: swap;
  src: url(./font-14.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(./font-15.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(./font-16.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: expanded;
  font-display: swap;
  src: url(./font-17.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: extra-expanded;
  font-display: swap;
  src: url(./font-18.ttf) format('truetype');
}

/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Google Symbols';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(./font-19.ttf) format('truetype');
}

.google-symbols {
  font-family: 'Google Symbols';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

